@import '/src/styles/vars.scss';

$text-color: var(--bl-text-color);
$bgc: var(--bl-bgc);
$radius: 16px;
$box-shadow-center: 0 8px 14px 2px var(--bl-box-shadow-color);
$box-shadow-top: 0 8px 14px 0px var(--bl-box-shadow-color);
$box-shadow-bottom: 0 -8px 14px 0px var(--bl-box-shadow-color);

.#{$cls-prefix}__popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999;
  outline: none;
  color: $text-color;

  &__content {
    touch-action: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $bgc;
    will-change: transform, opacity;

    &--center {
      width: max-content;
      height: max-content;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: $radius;
    }

    &--top {
      top: 0;
      left: 0;
      right: 0;
      border-radius: 0 0 $radius $radius;
    }

    &--bottom {
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: $radius $radius 0 0;
    }

    &--left {
      top: 0;
      bottom: 0;
      left: 0;
      border-radius: 0 $radius $radius 0;
    }

    &--right {
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: $radius 0 0 $radius;
    }

    &--shadow {
      touch-action: none;
      box-shadow: $box-shadow-center;

      &.#{$cls-prefix}__popup__content--top {
        box-shadow: $box-shadow-top;
      }

      &.#{$cls-prefix}__popup__content--bottom {
        box-shadow: $box-shadow-bottom;
      }
    }
  }
}
